footer {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  color: #222;
  text-align: left;
  font-size: 1rem;
  box-shadow: 0 -3px 15px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background-color: rgba(230, 228, 228, 0.534); /* 배경색 지정 권장 */
  z-index: 100;
}

footer p {
  margin: 0;
  font-weight: 500;
  letter-spacing: 1px;
}