


#header {

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* 다른 요소보다 위에 오도록 */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 

  background: linear-gradient(to right, #ffffff, #f3f3f3);
  color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  height: 70px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  top: 0;
  z-index: 999;
  transition: all 0.3s ease;
}

#header li {
  white-space: nowrap; /* 줄바꿈 방지 */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.nav-left {
  display: flex;
  align-items: center;
  cursor: pointer;
  
  color: var(--Black, #000);
  font-family: Exo;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}

.nav-left img{
  margin-right: 5px;
}

.nav-center {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  
  font-family: Exo;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 19.2px */
  text-transform: capitalize;
}

.nav-right {
  cursor: pointer;
  font-family: Exo;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 19.2px */
  text-transform: capitalize;
}


#navigation {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

#navigation li {
  white-space: nowrap;
  cursor: pointer;
  display: flex; /* 아이콘과 텍스트 정렬을 위해 */
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.nav-item {
  position: relative;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.SubMenu {
  width: max-content;
  display: flex;
  position: absolute;
  background-color: #ffffff;
  left: 47%;
  top: 65%;
  flex-direction: row;
  padding: 12px 16px;
  list-style: none;
  z-index: 1000;
  gap: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 

  border: 2px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);

  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

.SubMenu li {
  padding: 10px 15px;
  height: 20px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.page-button:hover .SubMenu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

#navigation li {
  color: black;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

#navigation li:hover {
  color: #ff7f2a;
}


#navigation :hover::after{
  width: 100%;
}

#header img {
  cursor: pointer;
}

#login{
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  color: black;
}

#login:hover{
  color: #e56f1f;
}


