body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#header {
  background-color: orange;
  color: white;
  padding: 10px 40px; /* 위아래 여백 좀 줄이고 좌우 유지 */
  font-style: italic;
  height: 80px;
  font-size: 20px;
  position: relative; /* navigation 위치 조정 위해 */
  display: flex;
  align-items: center;
  justify-content: space-between; /* 양 끝 배치 */
}

#hd {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

#hd img {
  margin-top: 0;
  cursor: pointer;
}

#navigation {
  display: flex;
  gap: 40px;
  right: 10px;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.2); /* 반투명 흰색 박스 */
  border-radius: 10px;
  padding: 10px 20px;
  align-items: center;
  color: white;
  margin-left: auto;
}

#navigation li {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
}

#navigation li:hover {
  text-decoration: underline;
}

#body1{
  text-align: center;
}

#body2 {
  background-color: lightgray;
  height: 500px;
  width: 80%; 
  margin: 0 auto; 
  padding: 0 20px; 
  box-sizing: border-box; 
}

#commentSection {
  text-align: center;
}