.spotlight-wrapper {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}

.spotlight-wrapper.visible {
  opacity: 1;
  transform: translateY(0);
}