.welcomepage-container {
  padding-top: 80px;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: #222;
  font-family: 'Pretendard-Regular', sans-serif;
  text-align: left;
  line-height: 1.6;
}

#body-text {
  margin-left: 250px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.home-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff7f2a;
  color: white;
  font-size: 14px;
  padding: 12px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin: 10px 0;
  width: 250px;
  height: 35px;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #e56f1f;
}

.home-button svg {
  margin-right: 8px;
  width: 18px;
  height: 18px;
}

.button-row {
  display: flex;
  justify-content: left;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.scroll-fade-in {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.scroll-fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

footer {
  height: auto;
  color: #222;
  text-align: left;
  padding: 30px 20px;
  font-size: 1rem;
  position: relative;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  box-shadow: 0 -3px 15px rgba(0, 0, 0, 0.1);
}

footer p {
  margin: 0;
  font-weight: 500;
  letter-spacing: 1px;
}

.welcompage-img {
  margin-top: 50px;
}
